<div class="singleTrip-container">
  <h1
    class="title"
    [class.isDisabled]="isMarkerAdded"
  >
    {{ currentTrip?.travelInfoData?.travelName }}
  </h1>
  <app-google-map
    *ngIf="currentTrip?.travelPoints"
    [tripPoints]="currentTrip?.travelPoints"
    [isMarkerAdded]="isMarkerAdded"
    [class.isMarkedAdded]="isMarkerAdded"
  ></app-google-map>

  <ng-container *ngIf="!isMarkerAdded">
    <app-button
      [title]="'Add custom travel point to visit'"
      (handleOnClick)="handleAddCustomTravelPoint()"
    ></app-button>
  </ng-container>

  <ng-container *ngIf="isMarkerAdded">
    <app-button
      class="btnCancelAddMarker"
      [title]="'Cancel Adding Marker'"
      (handleOnClick)="handleCancelAddCustomTravelPoint()"
    ></app-button>
  </ng-container>

  <ng-container *ngIf="currentTrip.tripUsers.length">
    <div
      *ngFor="let user of currentTrip.tripUsers"
      class="travelUserContainer"
      [class.isDisabled]="isMarkerAdded"
    >
      <img *ngIf="user.photo" [src]="user.photo" class="me-1">
      <img *ngIf="!user.photo" [src]="'/assets/img/users/user_icon.png'" class="me-1">
      <p>{{ user.name }} {{ user.surname }}</p>
    </div>

    <div
      class="chatContainer"
      [class.isDisabled]="isMarkerAdded"
    >
      <app-chat
        *ngIf="isChatVisible"
        [tripId]="currentTrip.id"
        [tripMessages]="currentTrip?.messages[0]?.messages"
        (isChatVisible)="showChat($event)"
      ></app-chat>
    </div>

    <div
      class="chatIcon"
      [class.isDisabled]="isMarkerAdded"
      (click)="showChat(true)"
    >
      <i class="fa fa-commenting"></i>
    </div>
  </ng-container>
</div>
