<div class="singleTrip-container">
  <h1 class="title">{{ currentTrip?.travelInfoData?.travelName }}</h1>
  <app-google-map [tripPoints]="currentTrip?.travelPoints"></app-google-map>
  <ng-container *ngIf="currentTrip.tripUsers.length">
    <div
      class="travelUserContainer"
      *ngFor="let user of currentTrip.tripUsers"
    >
      <img *ngIf="user.photo" [src]="user.photo" class="me-1">
      <img *ngIf="!user.photo" [src]="'/assets/img/users/user_icon.png'" class="me-1">
      <p>{{ user.name }} {{ user.surname }}</p>
    </div>

    <div class="chatContainer">
      <app-chat
        *ngIf="isChatVisible"
        (isChatVisible)="showChat($event)"
      ></app-chat>
    </div>

    <div
      class="chatIcon"
      (click)="showChat(true)"
    >
      <i class="fa fa-commenting"></i>
    </div>
  </ng-container>
</div>
