<div class="container">
  <p>Choose your start and destination point:</p>
  <form [formGroup]="tripPlacesForm">
    <div class="inputs-container">
      <div class="form-group col-md-6">
        <input
          ngx-google-places-autocomplete
          class="form-control"
          placeholder="Start point"
          formControlName="startPoint"
          (onAddressChange)="handleStartAddressChange($event)"
        />
      </div>
      <div class="arrow">
        <i class="fa fa-arrow-circle-down"></i>
      </div>
      <div class="form-group col-md-6">
        <input
          ngx-google-places-autocomplete
          class="form-control"
          placeholder="Destination point"
          formControlName="destinationPoint"
          (onAddressChange)="handleDestinationAddressChange($event)"
        />
      </div>
      <app-button
        [disabled]="!tripPlacesForm.valid"
        [title]="'Confirm'"
        (handleOnClick)="confirmTravelPoints()"
      ></app-button>
    </div>
  </form>
</div>
