<div class="travelInfoContainer">
  <p>Trip's info:</p>
  <form [formGroup]="travelInfoForm">
    <input class="form-control" aria-describedby="tripName" placeholder="Enter Trip Name" formControlName="travelName">
    <input class="form-control" aria-describedby="tripPlannedTotalCost" placeholder="Enter Planned Cost" formControlName="travelPlannedTotalCost">
<!--    <div class="dropzone">-->
<!--      <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target)" />-->
<!--      <h3>Drag and drop file here</h3>-->
<!--      <h3>or</h3>-->
<!--      <label for="fileDropRef">Browse for file</label>-->
<!--    </div>-->
<!--    <div class="file-upload-wrapper">-->
<!--      <input type="file" id="input-file-now" class="file-upload" formControlName="travelPhoto"/>-->
<!--    </div>-->
    <input class="form-control" aria-describedby="tripPhoto" placeholder="Choose photo" >
  </form>
  <app-button
    [disabled]="!travelInfoForm.valid"
    [title]="'Next'"
    (handleOnClick)="handleNextPage()"
  ></app-button>
</div>
