@import "src/assets/sass/settings";

.btn {
   margin-top: 2rem;
   background-image: $background-color;
   border-radius: .5rem;
   box-sizing: border-box;
   color: #FFFFFF;
   display: flex;
   font-size: 16px;
   justify-content: center;
   padding: .6rem 1.75rem;
   text-decoration: none;
   width: 100%;
   border: 0;
   cursor: pointer;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.btn:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}
