<div class="container">
  <app-trip-cost-overview
    *ngIf="!isUserCostVisible"
    [userCars]="userCars$ | async"
    [tripItems]="tripItems$ | async"
    [tripCar]="tripCar$ | async"
    [currentUser]="currentUser"
    [totalTripDistance]="totalTripDistance"
    [currentTrip]="currentTrip"
    [fuelCost]="fuelCost$ | async"
  ></app-trip-cost-overview>
  <app-trip-cost-users
    *ngIf="isUserCostVisible"
    [currentUser]="user$ | async"
    [tripItems]="tripItems$ | async"
    [currentTrip]="currentTrip"
    [fuelCost]="fuelCost$ | async"
  ></app-trip-cost-users>
  <app-button
    class="costUser"
    [title]="!isUserCostVisible ? 'Check users costs' : 'Check costs overview'"
    (handleOnClick)="toggleUserCosts()"
  ></app-button>
</div>
