<section>
  <div class="startPlan">
    <div
      *ngIf="isTravelInfo"
      class="travelInfo"
    >
      <app-travel-info></app-travel-info>
    </div>
    <div
      *ngIf="isTravelPointData"
      class="travelPoints"
    >
      <p>Choose your start and destination point:</p>
      <div class="googlePlaces">
        <app-google-places></app-google-places>
      </div>
    </div>
    <div
      *ngIf="isAddUser"
      class="travelUsers"
    >
      <p>Add friends you want to travel with:</p>
      <div class="addFriends">
        <app-add-friends></app-add-friends>
      </div>
    </div>
    <div
      *ngIf="isTravelSummarize"
      class="travelPoints"
    >
      <p>Travel Summarize:</p>
      <div class="travelSummarize">
        <app-travel-summarize
          [tripInfoData]="travelInfoData"
          [tripPointData]="travelPointData"
          [tripUsersData]="travelUsersData"
        ></app-travel-summarize>
      </div>
    </div>
  </div>
  <div class="travelNavigation">
    <app-navigation (handlePageChange)="onNumberChange($event)"></app-navigation>
  </div>
</section>

