@import "./src/assets/sass/settings";

section {
  margin-top: 0;
  @include flex(center, center);
  flex-direction: column;

  .startPlan {
    .travelInfo {

    }

    .travelPoints {
      @include flex(center,center);
      flex-direction: column;

      p {
        font-size: 1.3rem;
        color: $main-font;
      }

      .googlePlaces {
        width: 100%;
      }
    }

    .addFriends {
      margin-top: 2rem;
      width: 100%;
    }
  }

  .travelNavigation {
    position: absolute;
    bottom: 5rem;
  }
}
