<section>
  <div class="startPlan">
    <div
      *ngIf="isTravelInfo"
      class="travelInfo"
    >
      <app-travel-info
        [tripInfoData]="tripInfo$ | async"
      ></app-travel-info>
    </div>
    <div
      *ngIf="isTravelPointData"
      class="travelPoints"
    >
      <div class="googlePlaces">
        <app-google-places
          [tripPointData]="tripPoints$ | async"
        ></app-google-places>
      </div>
    </div>
    <div
      *ngIf="isAddUser"
      class="travelUsers"
    >
      <div class="addFriends">
        <app-add-friends
          [allUsersList]="allUsersList$ | async"
          [tripUsersData]="tripUsers$ | async"
         >
        ></app-add-friends>
      </div>
    </div>
    <div
      *ngIf="isTravelSummarize"
      class="travelPoints"
    >
      <div class="travelSummarize">
        <app-travel-summarize
          [tripInfoData]="tripInfo$ | async"
          [tripPointData]="tripPoints$ | async"
          [tripUsersData]="tripUsers$ | async"
          [currentUser]="currentUser$ | async"
        ></app-travel-summarize>
      </div>
    </div>
  </div>
  <div class="travelNavigation">
    <app-navigation (handlePageChange)="onNumberChange($event)"></app-navigation>
  </div>
</section>

