@import "./src/assets/sass/settings";

section {
  @include flex(center, center);
  flex-direction: column;

  .startPlan {
    .travelInfo {

    }

    .travelPoints {
      @include flex(center,center);
      flex-direction: column;

      .googlePlaces {
        width: 100%;
      }
    }

    .addFriends {
      width: 100%;
    }
  }

  .travelNavigation {
    position: absolute;
    bottom: 5rem;
  }
}
