<div class="chatContainer">
  <div class="chatTitle">
    <i
      class="fa fa-arrow-left"
      (click)="closeChatRoom()"
    ></i>
    <h3>Some text title</h3>
  </div>
  <div class="chatContent">
    <div
      #scrollMe
      class="singleMess"
    >
      <app-single-message
        [messages]="messages"
        [currentUser]="currentUser"
      ></app-single-message>
    </div>
  </div>
  <div class="chatInputs">
    <form
      [formGroup]="chatForm"
      (ngSubmit)="onSubmit($event)"
    >
      <input class="form-control" aria-describedby="chatMessage" placeholder="Message" formControlName="message">
      <button
        type="submit"
      >
        <i class="fa fa-arrow-right"></i>
      </button>
    </form>
  </div>
</div>
