@import "../../../../../assets/sass/settings";

.container {
  color: $primary-white;

  .header {
    @include flex(space-between, center);

    p {
      font-weight: 500;
    }

    .payColumn {
      @include flex(flex-start, center);

      p {
        margin: 0 0 0 10px;
      }

      .exchange {
        @include flex(center, center);
        width: 2rem;
        height: 2rem;
        padding: .5rem;
        background-color: #687864;
        border-radius: 50%;
        box-shadow: 2px 2px 5px 0px rgb(0 0 0);
      }
    }
  }
  .total-cost {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;

    span {
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 2px;
    }

    p:first-child {
      font-size: 0.8rem;

      span {
        font-size: .9rem;
      }
    }
  }
  .user-container {
    @include flex(space-between, center);
    width: 100%;
    margin-bottom: 1rem;

    p {
      margin: 0;
    }

    .user {
      @include flex(flex-start, center);
      cursor: pointer;

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-right: .7rem;
      }
    }

    .user-cost {
      @include flex(center, center);

      i {
        margin-left: 10px;
        font-size: 1.3rem;
      }
    }
  }
}

.container-no-cost {
  color: $primary-white;
  text-align: center;
}

.whoToPay {
  @include flex(space-between, center);
  flex-wrap: wrap;
  height: 65vh;
  width: 100%;

  .currentUser, .otherUsers {
    .user {
      @include flex(center, center);
      flex-direction: column;
      cursor: pointer;

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
    }
  }
  .otherUsers {
    @include flex(center, center);
    position: relative;

    .arrow {
      position: absolute;
      right: 115px;
      bottom: 26px;

      i {
        transform: scale(10,1);
      }

      .left {
        color: $color-success;
      }

      .right {
        color: $color-danger;
      }
    }
  }

  .back {
    width: 100%;
  }
}

.leftToPayDetailsContainer {
  @include center();
  padding: 1rem;
  background-color: $primary-white;
  min-width: 70%;
  box-shadow: 2px 2px 5px 0 rgb(0 0 0);
  border-radius: 10px;

  i {
    position: absolute;
    top: 5px;
    right: 8px;
  }

  span {
    font-weight: 600;
  }
}
