<div class="add-friend-container">
  <p class="title">Add friends you want to travel with:</p>
  <ng-template #rt let-r="result" let-t="term">
    <div
      class="userContainer"
      (click)="addUserToTrip(r)"
    >
      <img *ngIf="r['photo']" [src]="r['photo']" class="me-1">
      <img *ngIf="!r['photo']" [src]="'/assets/img/users/user_icon.png'" class="me-1">
      <ngb-highlight class="userName" [result]="r.name + ' ' + r.surname" [term]="t"></ngb-highlight>
    </div>
  </ng-template>

  <div class="mb-3 row nameInput">
    <div class="col">
      <form [formGroup]="tripUserForm">
        <input
          id="typeahead-template"
          type="text"
          placeholder="Add friends"
          class="form-control col"
          formControlName="user"
          [(ngModel)]="model"
          [ngbTypeahead]="search"
          [resultTemplate]="rt"
          [inputFormatter]="formatter"
        />
      </form>
    </div>
  </div>
  <ng-container *ngIf="tripUsers.length">
    <div
      class="travelUserContainer"
      *ngFor="let user of tripUsers"
    >
      <img *ngIf="user.photo" [src]="user.photo" class="me-1">
      <img *ngIf="!user.photo" [src]="'/assets/img/users/user_icon.png'" class="me-1">
      <p>{{ user.name }} {{ user.surname }}</p>
    </div>
  </ng-container>

  <app-button
    [title]="'Next'"
    (handleOnClick)="handleNextPage()"
  ></app-button>
</div>
