@import "src/assets/sass/settings";

section {
  background-color: $primary-white;
  position: fixed;
  bottom: 0;
  right: 0;
  @include flex(space-around, center);
  height: 4rem;
  width: 100vw;
  padding: 0 1rem;
  z-index: 999;

  i {
    font-size: 1.8rem;
    color: $main-btn;
  }

  div {
    @include flex(center, center);
    flex-direction: column;

    p {
      font-size: .7rem;
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  .addTrip {
    i {
      font-size: 2.7rem;
    }
  }
}
