<section>
  <div class="myTrips" [routerLink]="['/my-trips']" routerLinkActive="active">
    <i class="fa fa-road"></i>
    <p>My Trips</p>
  </div>
  <div class="myJournal" [routerLink]="['/journal']" routerLinkActive="active">
    <i class="fa fa-book"></i>
    <p>Trip's Journal</p>
  </div>
  <div class="addTrip" [routerLink]="['/add-trip']" routerLinkActive="active">
    <i class="fa fa-plus-circle"></i>
    <p>Add Trip</p>
  </div>
  <div class="highlighted" [routerLink]="['/highlights']" routerLinkActive="active">
    <i class='fa fa-star'></i>
    <p>Highlighted</p>
  </div>
  <div class="toDo" [routerLink]="['/to-do']" routerLinkActive="active">
    <i class='fa fa-list'></i>
    <p>To Do</p>
  </div>
</section>
