@import "src/assets/sass/settings";

.container {
  .isLoggedIn {
    .google-container {
      @include flex(center, center);

      div {
        @include flex(center, center);
      }

      button {
        border: 1px solid gray;
        font-weight: 600;
        padding: .8rem 1.7rem;
        background-color: $primary-white;
        width: 100vw;

        &:hover {
          background-color: #e9ecef;
        }

        img {
          width: 20px;
          margin-bottom:3px;
          margin-right:5px;
        }
      }
    }

    form {
      input {
        padding: .6rem .5rem;
        margin: 1rem 0;
      }
    }

    .separator {
      display: flex;
      align-items: center;
      text-align: center;
      margin-top: 1rem;
      color: $primary-white;
    }

    .separator::before,
    .separator::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid $primary-white;
    }

    .separator:not(:empty)::before {
      margin-right: 1.5em;
    }

    .separator:not(:empty)::after {
      margin-left: 1.5em;
    }
  }
}
