<section>
  <div
    class="user"
    (click)="showUserMenu()"
  >
    <img src="{{ getUrl() }}" alt="{{ currentUser.usersTrips }} photo">
  </div>
  <form [formGroup]="searchForm">
    <div class="input-group">
      <div class="form-outline">
        <input type="search" id="search" class="form-control" placeholder="Search..." formControlName="search" />
      </div>
    </div>
  </form>
  <div class="chat">
    <i class='fa fa-comments'></i>
  </div>
  <div
    class="user-menu-container"
    [class.novisible]="!isUserMenuVisible"
  >
    <app-user-menu
      (closeUserMenu)="showUserMenu()"
    ></app-user-menu>
  </div>
</section>
