@import "src/assets/sass/settings";

section {
  background-color: $primary-white;
  position: fixed;
  top: 0;
  right: 0;
  @include flex(space-around, center);
  height: 4rem;
  width: 100vw;
  padding: 0 1rem;
  padding-top: .3rem;
  margin-top: 0;
  z-index: 999;

  .user {
    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
  }

  .chat {
    i {
      font-size: 1.8rem;
      color: $main-btn;
    }
  }
}
