<div
  *ngIf="!isAddCarFormVisible && !isAddItemFormVisible && !isCurrentItemChosen"
  class="container"
>
  <app-button
    class="btnAddNewItem"
    [title]="'Add new cost'"
    (handleOnClick)="toggleAddNewItem(true)"
  ></app-button>
  <div class="items-container-car">
    <p class="name">Petrol cost on drive</p>
    <div class="cost-container">
      <div
        *ngIf="isCarChosen"
        class="car-chosen"
      >
        <p *ngIf="chosenCarFuelConsumption">{{ totalTripFuelCost }} zł</p>
        <span (click)="toggleIsCarChosen(false)">Select different car</span>
      </div>
      <div
        *ngIf="!isCarChosen"
        class="no-car"
      >
        <div class="form-container-select">
          <form [formGroup]="selectCarForm">
            <div class="inputs-container">
              <select
                class="form-select"
                aria-label="Car name"
                formControlName="carName"
                (change)="onSelectCar()"
              >
                <option
                  *ngFor="let car of userCars"
                  value="{{car.carName}}"
                >
                  {{ car.carName }}
                </option>
              </select>
            </div>
          </form>
        </div>
        <p>or</p>
        <span (click)="toggleAddNewCar(true)">Add the car and driver</span>
      </div>
    </div>
  </div>
  <div
    *ngFor="let tripItem of tripItemsMuted"
    class="items-container"
    (click)="toggleChangeCurrentItem(true, tripItem)"
  >
    <p class="name">{{tripItem?.itemName}}</p>
    <div>
      <p class="cost">{{tripItem?.itemCost}} zł <span *ngIf="tripItem?.totalPaid">({{tripItem?.totalPaid }} zł paid)</span></p>
    </div>
  </div>
</div>

<ng-container *ngIf="isAddCarFormVisible">
  <div class="form-container">
    <form [formGroup]="newCarForm">
      <div class="inputs-container">
        <div class="form-group col-md-6">
          <input
            class="form-control"
            placeholder="Car name"
            formControlName="carName"
          />
        </div>
        <div class="form-group col-md-6">
          <input
            class="form-control"
            placeholder="Car fuel consumption"
            formControlName="carFuelConsumption"
          />
        </div>
        <app-button
          class="addNewItemForm"
          [title]="'Add'"
          (handleOnClick)="handleAddNewCar()"
        ></app-button>
        <app-button
          class="addNewItemForm"
          [title]="'Cancel'"
          (handleOnClick)="toggleAddNewCar(false)"
        ></app-button>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="isAddItemFormVisible">
  <div class="form-container">
    <form [formGroup]="newItemForm">
      <div class="inputs-container">
        <div class="form-group col-md-6">
          <input
            class="form-control"
            placeholder="Item name"
            formControlName="itemName"
          />
        </div>
        <div class="form-group col-md-6">
          <input
            class="form-control"
            placeholder="Item cost"
            formControlName="itemCost"
          />
        </div>
        <div class="form-group col-md-6">
          <textarea
            class="form-control"
            rows="5"
            placeholder="Item description"
            formControlName="itemDescription"
          ></textarea>
        </div>
        <app-button
          class="addNewItemForm"
          [title]="'Add'"
          (handleOnClick)="handleAddNewItem()"
        ></app-button>
        <app-button
          class="addNewItemForm"
          [title]="'Cancel'"
          (handleOnClick)="toggleAddNewItem(false)"
        ></app-button>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="isCurrentItemChosen && !isCurrentItemCostIncurred">
  <div class="item-details">
    <div class="item-title">
      <h5>{{currentChosenItem?.itemName}}</h5>
      <p>Total: {{currentChosenItem?.itemCost}} zł</p>
    </div>
    <div class="added-by">
      <p>by {{currentChosenItem?.itemOwner}}</p>
      <p>Paid: {{currentChosenItemAlreadyPaid}} zł</p>
    </div>
    <div class="item-content">
      <p>{{currentChosenItem?.itemDescription}}</p>
    </div>
  </div>
  <div class="btn-container">
    <app-button
      class="costsIncurred"
      [title]="'Add incurred cost'"
      (handleOnClick)="toggleCurrentItemCostIncurred(true)"
    ></app-button>
    <app-button
      class="removeItem"
      [title]="'Remove item'"
      [background]="'#e06854'"
      [iconName]="'fa fa-trash'"
      [marginTop]="'5px'"
      (handleOnClick)="removeTripItem()"
    ></app-button>
    <app-button
      class="cancel"
      [title]="'Cancel'"
      [marginTop]="'5px'"
      (handleOnClick)="toggleChangeCurrentItem(false)"
    ></app-button>
  </div>
</ng-container>

<ng-container *ngIf="isCurrentItemCostIncurred">
  <div class="currentItem">
    <div class="form-container currentItemForm">
      <form [formGroup]="currentItemForm">
        <div class="inputs-container">
          <div class="paid-container">
            <div class="costPaid">
              <p (click)="handleAllCostPaid()">Pay rest cost</p>
            </div>
            <p>or</p>
            <div class="input-trip-rest-cost form-group col-md-6">
              <input
                class="form-control"
                placeholder="Amount already paid"
                formControlName="costPaid"
              />
              <span *ngIf="isValueExceedsCost">The value you enter exceeds the remaining cost of the trip</span>
            </div>
          </div>
          <app-button
            class="currentItemForm"
            [marginTop]="'4rem'"
            [title]="'Confirm'"
            (handleOnClick)="handleChangeCurrentItem()"
          ></app-button>
          <app-button
            class="addNewItemForm"
            [title]="'Cancel'"
            [marginTop]="'5px'"
            (handleOnClick)="toggleCurrentItemCostIncurred(false)"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
