@import '../../../../../assets/sass/settings';

.container {
  @include flex(center, center);
  flex-direction: column;

  .btnAddNewItem {
    margin: -1rem 0 1rem;
    width: 100%;
  }

  .items-container, .items-container-car{
    width: 100%;
    @include flex(space-between, center);
    color: $main-font;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 80%);
    border: 3px double $main-font;
    border-left: none;
    border-radius: 20px;
    margin: .5rem 0;

    div {
      @include flex(space-between, center);
      margin: 0 1rem;

      p {
        margin-right: 1rem;
      }
    }

    .name {
      padding: 1rem;
    }

    p {
      margin-bottom: 0;
    }

    span {
      color: $primary-lighter;
      cursor: pointer;
      text-decoration: underline;
    }

    .cost-container {
      width: 100%;
      padding: 1rem 0;

      div {
        width: 100%;
        flex-direction: column;

        form {
          width: 100%;

          .inputs-container {
            margin: 0;
          }
        }
      }
    }

    .car-chosen {
      p, span {
        width: 100%;
        text-align: right;
      }

      span {
        font-size: 0.8rem;
      }
    }

    .no-car {
      font-size: 0.8rem;
      margin-right: 0;

      p {
        text-align: center;
        margin: 0;
      }
    }
  }
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;

  form {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    position: relative;

    .inputs-container {
      @include center();
      width: 85%;

      input {
        margin-bottom: 1rem;
      }
    }
  }
}

.currentItem {
  .currentItemForm {
    .costPaid {
      width: 100%;
      @include flex(center, center);
    }

    p {
      color: $primary-white;
      font-size: 1.1rem;
      text-align: center;
      margin: 0;
      padding: .5rem;
      background: $background-color;
      border-radius: 10px;
    }

    p:nth-child(2) {
      font-size: 0.7rem;
      margin: .5rem 0;
      background: none;
    }

    i {
      color: $color-danger;
      font-size: 1.1rem;
    }
  }
}

.item-details {
  color: $primary-white;
  @include flex(flex-start, center);
  flex-direction: column;

  .item-title {
    @include flex(space-between, center);
    padding: 1rem 2rem;
    width: 100%;

    h5 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1.4rem;
    }
  }

  .added-by {
    margin: -1.4rem 0 2rem;
    width: 100%;
    text-align: center;
    p {
      font-size: .7rem;
      margin: 0;
    }
  }

  .item-content {

  }
}

.form-container-select {
  form {
    .inputs-container {
      select {
        height: 30px;
      }
    }
  }
}
