/* BASIC COLORS SETUP */
$primary: #31708E;
$primary-light: #5085A5;
$primary-lighter: #8FC1E3;
$main-font: #F7F9FB;
$primary-white: #F7F9FB;
$second-font: #000000;
$main-btn: #687864;
$dark-gradient: linear-gradient(270deg,#32363f 0,#000 90%);
$color-warning: #f6b93b;
$color-danger: #e06854;
$color-success: #78e08f;
$scrollbar-color: red;

/* BASIC VARIABLES SETUP*/
/* FONTS */
$primary-font: 'Roboto', sans-serif;
$font-size: 16px;
$font-weight: 400;
$letter-spacing: 1px;
$line-height: 24px;
$main-spacing: 0.3rem;

/* VIEWS */
$base-padding: 12px;
$max-width: 40rem;
$small-width: 85vw;
$full-width: 1170px;

/* ANIMATION */
$main-transition: all 0.2s linear;

/* SHADOWS */
$light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

/* MIXINS */
@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
