<google-map
  #map
  height="300px"
  width="100vw"
  class="google-map"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="addMarker($event)"
>
  <map-marker
    #marker="mapMarker"
    *ngFor="let markerPosition of markers"
    [position]="markerPosition.position"
    [options]="markerPosition.options"
    [label]="markerPosition.label"
    (mapClick)="markerClick(marker)"
  ></map-marker>
  <map-directions-renderer
    *ngIf="(directionsResults$ | async) as directionsResults"
    [directions]="directionsResults"
    [options]="mapDirectionOptions"
  ></map-directions-renderer>
  <map-info-window>
    <app-google-map-info-window
      [currentUser]="currentUser"
      [currentMarkerId]="currentMarkerId"
      [currentMarkerVoteStatus]="currentMarkerVoteStatus"
      [markerData]="$markerData | async"
      [tripData]="tripData"
      [options]="options"
      [googleMap]="map"
      (onAddMarkerToTrip)="onAddMarkerToTrip($event)"
    ></app-google-map-info-window>
  </map-info-window>
</google-map>
