<google-map
  height="300px"
  width="100vw"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="addMarker($event)"
>
  <map-marker
    *ngFor="let markerPosition of markers"
    [position]="markerPosition.position"
    [options]="markerPosition.options"
    [label]="markerPosition.label"
    (mapClick)="markerClick($event)"
  ></map-marker>
  <map-directions-renderer
    *ngIf="(directionsResults$ | async) as directionsResults"
    [directions]="directionsResults"
  ></map-directions-renderer>
</google-map>
